RSS Error

_From [heli...@gmail.com](https://code.google.com/u/109944429271077149219/) on October 06, 2009 17:20:42_

What steps will reproduce the problem? 1. right click on a single rss feed  
2. click load
3. type in desired destination and label
4. click OK What is the expected output? What do you see instead? - The torrent followed by above steps should be downloaded to my server.
But instead, I get an error saying "Error loading torrent". What version of the product are you using? On what operating system? - I'm using ruTorrent v2.7. It says "At revision 442 when typing in svn
update. I'm using Debian lenny on x64. Are some errors present in the web-server log? - I just checked the error log and it repeatedly said [error] [client
89.19.27.114] client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /w00tw00t.at.ISC.SANS.DFind:) [error] [client 72.55.184.83]
client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23):
/w00tw00t.at.ISC.SANS.DFind:) Are some errors present in the browser console? "Error loading torrent" Please provide any additional information below. I did as what novik65 told me to do. Adding WAIT_AFTER_LOADING in
rssconf.php and set it to 10. But, that didn't solve anything. I'm still
getting the message "Error loading torrent" while loading an individual
torrent, not multiple torrents at the same time. Please help.

_Original issue: http://code.google.com/p/rutorrent/issues/detail?id=114_
